<h1>{{categoria.nome}}</h1>
{{#each postagens}}
<div class="card mt-4">
    <div class="card-body">
        <h4>{{titulo}}</h4>
        <h4>{{descricao}}</h4>
        <a href="/postagem/{{slug}}"><p>ver mais...</p></a>
    </div>
</div>
{{else}}
<h5>Nenhuma postagem</h5>
{{/each}}